@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("utilities.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
  color: var(--primary-color);
  line-height: 1.6;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px;
}

/* Header */
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar .logo {
  font-size: 4rem;
  letter-spacing: 8px;
  color: var(--primary-color);
  font-weight: 300;
  margin-bottom: 15px;
}

/* Navbar */
.navbar ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 25px;
  margin: 0 5px;
  font-size: 13px;
}

.navbar ul li a:hover {
  color: var(--third-color);
  border-bottom: 1px solid var(--secondary-color);
}

/* Shwocase */
.showcase {
  background: url("./images/test3.jpg") no-repeat center center/cover;
  height: 86vh;
  position: relative;
  margin-top: 20px;
}

.showcase .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.showcase .content h2 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

/* Skills */
#skills .column-items h2 {
  font-size: 1.5rem;
  margin: 30px 0;
  text-align: center;
}

#skills .column-items .flex-items h3 {
  margin-top: 10px;
}

#skills .column-items .flex-items .skill-1 i {
  color: #f16529;
  font-size: 4rem;
}

#skills .column-items .flex-items .skill-2 i {
  color: #264de4;
  font-size: 4rem;
}

#skills .column-items .flex-items .skill-3 i {
  color: #f0db4f;
  font-size: 4rem;
}

#skills .column-items .flex-items .skill-4 i {
  color: #68a063;
  font-size: 4rem;
}

#skills .column-items .flex-items .skill-5 i {
  color: #f29111;
  font-size: 4rem;
}

#skills .column-items .flex-items .skill-6 i {
  color: #7f7a7c;
  font-size: 4rem;
}

/* Portfolio */
#portfolio {
  margin-top: 50px;
}

#portfolio img:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* Contact Area */

#contact-section .form-section {
  width: 100%;
}
